@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    background-x-position: 10%;
}

.learn-more:hover p {
    font-weight: 500;
    transition: font-weight 350ms;

}

.learn-more:hover img {
    left: 8px;
    transition: left 350ms;
}

.certificate-form {
    box-shadow: 0px 3px 9px 0px #BCB4B326;

}

select:required:invalid {
    color: #333438;
    opacity: 40%;
}

@keyframes hideButton {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hideForm {
    0% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-342px);
    }
    100% {
        transform: translateY(-335px);
    }
}

@keyframes showForm {
    from {
        transform: translateY(-335px);
    }
    to {
        transform: translateY(0px);
    }
}

.submitted {
    animation: hideButton 350ms;
}

.show-form {
    animation: showForm 600ms ease-in;
    animation-fill-mode: both;
}

.hide-form {
    animation: hideForm 800ms ease-out;
    animation-fill-mode: both;
}

.filtered {
    transition-duration: 300ms;
}

.filtered:hover {
    transition: background-color 300ms;
    transition-delay: 50ms;
    background-color: #2670DF;
}

.certificate-form {

}

@keyframes showVerifyModal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.verify-modal {
    transition: showVerifyModal 350ms;
}

@keyframes showModal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal {
    transition: showModal 2s;
    transition-duration: 350ms;
    transition-delay: 300ms;
}

.nav-dropdown {
    transform: translateY(20px);
    box-shadow: 0px 3px 12px 0px #B8B8B833;
    transition-duration: 300ms;
    transition: transform 200ms;
}

@media screen and (max-width: 1023px) {
    .input-error {
        border: 1px solid #EF061D;
    }
}

@media screen and (min-width: 1024px) {
    .form-error {
        border: 1px solid #EF061D;
    }
}


.paper-clip {
    width: 32px;
    height: 32px;
}
@keyframes showModal {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0px);
    }
}
.faq-item {
    animation-duration: 300ms;
    animation: showModal 400ms;
}

.news-n-updates .IMG-wrapper {
    background-color: #e9e9eb;
    border-radius: 6px;
    height: 408px;
    left: 140px;
    overflow: hidden;
    position: absolute;
    top: 470px;
    width: 624px;
}

.news-n-updates .IMG {
    height: 408px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 624px;
}

.news-n-updates .teachers-day {
    color: #0e0e10;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 832px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    top: 538px;
    width: 406px;
}

.news-n-updates .we-trained {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 832px;
    letter-spacing: 0.3px;
    line-height: 28px;
    position: absolute;
    top: 700px;
}

.news-n-updates .div-wrapper {
    align-items: flex-start;
    background-color: #faf1e9;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 828px;
    padding: 8px 16px;
    position: absolute;
    top: 482px;
    width: fit-content;
}

.news-n-updates .text-wrapper-2 {
    color: #e4891f;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-3 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 916px;
    letter-spacing: 0.17px;
    line-height: 17px;
    position: absolute;
    top: 489px;
    white-space: nowrap;
}

.news-n-updates .frame-2 {
    align-items: center;
    display: flex;
    gap: 16px;
    left: 832px;
    position: absolute;
    top: 825px;
    width: fit-content;
}

.news-n-updates .text-wrapper-4 {
    color: #e23f27;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .arrow-arrow-down-SM-wrapper {
    background-color: #e23f27;
    border-radius: 28px;
    height: 32px;
    min-width: 32px;
    overflow: hidden;
    position: relative;
}

.news-n-updates .arrow-arrow-down-SM {
    height: 24px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 24px;
}

.news-n-updates .news-updates {
    color: #0e0e10;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 140px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 1005px;
    white-space: nowrap;
}

.news-n-updates .frame-3 {
    align-items: flex-start;
    background-color: #ebecee;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    left: 140px;
    padding: 8px 20px;
    position: absolute;
    top: 1070px;
    width: fit-content;
}

.news-n-updates .text-wrapper-5 {
    color: #333437;
    font-family: "Matter-SemiBold", Helvetica;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-4 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 225px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-6 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-5 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 410px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-7 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-6 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 529px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-8 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-7 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 710px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-9 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-8 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 789px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-10 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-9 {
    align-items: flex-start;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    left: 899px;
    padding: 2px 2px 8px;
    position: absolute;
    top: 1075px;
    width: fit-content;
}

.news-n-updates .text-wrapper-11 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -1px;
    opacity: 0.9;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .article-2 {
    border-radius: 3px;
    height: 450px;
    left: 140px;
    position: absolute;
    top: 1151px;
    width: 376px;
}

.news-n-updates .text-wrapper-12 {
    color: #0e0e10;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 24px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 320px;
    white-space: nowrap;
}

.news-n-updates .a-STEM-exploration-2 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0.17px;
    line-height: 23.8px;
    position: absolute;
    top: 361px;
}

.news-n-updates .frame-10 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 16px;
    position: absolute;
    top: 264px;
    width: fit-content;
}

.news-n-updates .frame-11 {
    align-items: flex-start;
    background-color: #faf1e9;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    position: relative;
    width: fit-content;
}

.news-n-updates .event-2 {
    color: #e4891f;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-13 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-12 {
    /*background-image: url(./frame-68-2.png);*/
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 224px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 344px;
}

.news-n-updates .article-3 {
    border-radius: 3px;
    height: 450px;
    left: 140px;
    position: absolute;
    top: 2179px;
    width: 376px;
}

.news-n-updates .text-wrapper-14 {
    color: #0e0e10;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 24px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 320px;
    white-space: nowrap;
}

.news-n-updates .a-STEM-exploration-3 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0.17px;
    line-height: 23.8px;
    position: absolute;
    top: 361px;
}

.news-n-updates .frame-13 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 16px;
    position: absolute;
    top: 264px;
    width: fit-content;
}

.news-n-updates .frame-14 {
    align-items: flex-start;
    background-color: #faf1e9;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    position: relative;
    width: fit-content;
}

.news-n-updates .event-3 {
    color: #e4891f;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-15 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-15 {
    /*background-image: url(./frame-68-3.png);*/
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 224px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 344px;
}

.news-n-updates .article-4 {
    border-radius: 3px;
    height: 450px;
    left: 532px;
    position: absolute;
    top: 1665px;
    width: 376px;
}

.news-n-updates .text-wrapper-16 {
    color: #0e0e10;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 24px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 320px;
    white-space: nowrap;
}

.news-n-updates .a-STEM-exploration-4 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0.17px;
    line-height: 23.8px;
    position: absolute;
    top: 361px;
}

.news-n-updates .frame-16 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 16px;
    position: absolute;
    top: 264px;
    width: fit-content;
}

.news-n-updates .frame-17 {
    align-items: flex-start;
    background-color: #faf1e9;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    position: relative;
    width: fit-content;
}

.news-n-updates .event-4 {
    color: #e4891f;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-17 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-18 {
    /*background-image: url(./frame-68-4.png);*/
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 224px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 344px;
}

.news-n-updates .overlap-group {
    height: 364px;
    left: 0;
    position: absolute;
    top: 2889px;
    width: 1440px;
}

.news-n-updates .footer {
    background-color: #0e0e10;
    height: 358px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 1440px;
}

.news-n-updates .text-wrapper-18 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 140px;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: absolute;
    top: 112px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-19 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 140px;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: absolute;
    top: 185px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-20 {
    color: #ffffff;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 675px;
    letter-spacing: 0.16px;
    line-height: 20px;
    position: absolute;
    top: 63px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-21 {
    color: #ffffff;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 1064px;
    letter-spacing: 0.16px;
    line-height: 20px;
    position: absolute;
    top: 63px;
    white-space: nowrap;
}

.news-n-updates .frame-19 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 675px;
    position: absolute;
    top: 112px;
    width: fit-content;
}

.news-n-updates .text-wrapper-22 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-23 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-24 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .news-update {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-25 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-20 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 1064px;
    position: absolute;
    top: 112px;
    width: fit-content;
}

.news-n-updates .text-wrapper-26 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-27 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-28 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .logo {
    height: 26px;
    left: 140px;
    position: absolute;
    top: 64px;
    width: 104px;
}

.news-n-updates .social-links {
    height: 32px;
    left: 140px;
    position: absolute;
    top: 227px;
    width: 176px;
}

.news-n-updates .footer-2 {
    background-color: #0e0e10;
    height: 364px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.news-n-updates .text-wrapper-29 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 140px;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: absolute;
    top: 112px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-30 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 140px;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: absolute;
    top: 153px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-31 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 140px;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: absolute;
    top: 226px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-32 {
    color: #ffffff;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 675px;
    letter-spacing: 0.16px;
    line-height: 20px;
    position: absolute;
    top: 63px;
    white-space: nowrap;
}

.news-n-updates .text-wrapper-33 {
    color: #ffffff;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 1064px;
    letter-spacing: 0.16px;
    line-height: 20px;
    position: absolute;
    top: 63px;
    white-space: nowrap;
}

.news-n-updates .frame-21 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 675px;
    position: absolute;
    top: 112px;
    width: fit-content;
}

.news-n-updates .text-wrapper-34 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-35 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .news-update-2 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-36 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .frame-22 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 1064px;
    position: absolute;
    top: 112px;
    width: fit-content;
}

.news-n-updates .text-wrapper-37 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-38 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-39 {
    color: #e7e9ed;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .logo-2 {
    height: 26px;
    left: 140px;
    position: absolute;
    top: 64px;
    width: 104px;
}

.news-n-updates .social-links-2 {
    height: 32px;
    left: 140px;
    position: absolute;
    top: 268px;
    width: 176px;
}

.news-n-updates .button {
    align-items: center;
    background-color: #f1f1f3;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 610px;
    padding: 20px 40px;
    position: absolute;
    top: 2677px;
    width: fit-content;
}

.news-n-updates .text-wrapper-40 {
    color: #43434c;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .header {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #0000000d;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 128px;
    left: 0;
    mix-blend-mode: normal;
    position: fixed;
    top: 0;
    width: 1440px;
}

.news-n-updates .navbar {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
    left: 682px;
    padding: 24px 0px;
    position: absolute;
    top: 28px;
    width: fit-content;
}

.news-n-updates .text-wrapper-41 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .text-wrapper-42 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .news-updates-2 {
    color: #e23f27;
    font-family: "Matter-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .group {
    height: 24px;
    min-width: 129px;
    position: relative;
}

.news-n-updates .text-wrapper-43 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 17px;
    left: 0;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: absolute;
    top: 4px;
    white-space: nowrap;
}

.news-n-updates .arrow-chevron-down {
    height: 24px;
    left: 103px;
    position: absolute;
    top: 0;
    width: 24px;
}

.news-n-updates .text-wrapper-44 {
    color: #333437;
    font-family: "Matter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.news-n-updates .relearn-logo {
    height: 28px;
    left: 130px;
    position: absolute;
    top: 50px;
    width: 107px;
}
